.redes { 
    display: flex;
    justify-content: center;
    gap: 54px;
    flex-wrap: wrap;
    margin-bottom: 45px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.icon-media {
    width: 90px;
    height: 90px;
    margin-bottom: 50px;
    object-fit: contain;
    opacity: 0.55;
    transition: 0.2s ease;
    filter: drop-shadow(0 0 6px rgba(105,167,255,0.3));

    &:hover {
        opacity: 0,7;
        transform: translateY(-3px);
        filter: drop-shadow(0 0 10px rgba(105,167,255,0.8));
    }
    
}